pytest
pytest-cov
pytest-dependency
coverage >= 4.5
click>=8.0.0
requests
termcolor
requests
pygments
dictor
tabulate
numpy
pandas
tqdm
joblib
binary_file_search
matplotlib
seaborn
scipy
pysam
mappy
biopython
